ul, ol, dl, li {
	list-style: none;
}
#main, #cinema_detail {
	display: block;
	width: 980px;
	min-height: 428px;
	margin: 10px auto;
}
#main h2, h6{
	margin: 20px;
}

.cinema_list{
	display: block;
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	background-color: #292d32;
}

.cinema_list .location, .location-1{
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 20px;
}
.cinema_list .location-1{
	display: none;
}
.cinema_list .location-1.selected{
	display: block;
}
.region_cinema_list{
	border-top: 1px solid lightgray;
}
.cinema_list ul li{
	display: inline-block;
	width: 110px;
	height: 30px;
	margin: 5px 0;
	padding-top: 5px;
	text-align: center;
	font-size: 11pt;
	color: #adb5bd;
}
.cinema_list ul li>a{
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-decoration: none;
	color: #adb5bd;
}
.cinema_list ul li>a:hover{
	cursor: pointer;
	color: #adb5bd;
	font-weight: bold;
}
.cinema_list .location li>a.selected{
	color: #e9ecef;
	font-weight: bold;
}
#cinema_detail{
	padding: 20px;
}
#cinema_detail h3{
	display: block;
	width: 800px;
	margin: 20px auto;
	padding-left: 20px;
}
#map {
	width: 800px;
	height: 400px;
	margin: 15px auto;
}
#information{
	width: 800px;
	margin: 25px auto;
	padding-left: 20px;
}
#information .detail{
	font-size: 16px;
	font-famaily: wast-new;	
}