@font-face {
  font-family: womby;
  src: url('/resources/font/Womby-Font/Womby-Regular.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/Womby-Font/Womby-Regular.woff') format('woff'),
       url('/resources/font/Womby-Font/Womby-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: wask-new;
  src: url('/resources/font/Wask-New/wask_new-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/font/Wask-New/wask_new-webfont.woff') format('woff'),
       url('/resources/font/Wask-New/WASK NEW.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body{
	background-color: #e9ecef;
}
#member{
	display: flex;
	background-color: #292d32;
	padding: 0;
	padding-right: 180px;
}
#div-logo{
	display: block;
	width: 100%;
	background-image: url('/resources/image/movie.jpg');
	background-position: center center;
}
#logo{
	display: block;
	width: 300px;
	margin: 0 auto;
	padding: 8px 0 5px 0;
	font-family: womby;
	font-size: 40pt;
	font-weight: bold;
	color: #e9ecef;
	text-align: center;
	text-decoration: none;
}
#menu{
	display: flex;
	background-color: #292d32;
	padding: 0;
}
#menu li{
	width: 100px;
	text-align: center;
}
.dropdown-menu{
	min-width: 100px;
	text-align: center;
}