ul, ol, dl, li{
	list-style: none;
}
.tab-group{
	display: block;
	width: 100%;
	margin: 0;
	padding: 20px 20px 0 20px;
	line-height: 43px;
	vertical-align: text-bottom;
}
.tab-group li{
	display: inline-block;
}
.tab-group li h2{
	float: left;
	margin: 0;
}
.tab-group .tab{
	float: right;
	width: 140px;
	text-align: center;
	font-size: 14px;
	color: #adb5bd;
}
.tab-group .tab a{
	text-decoration: none;
	color: #adb5bd;
}
.tab-group .tab a.current{
	color: #292d32;
	font-weight: bold;
}

#time-table{
	display: block;
	width: 980px;
	margin: 10px auto;
}

.schedule{
	display: none;
}

.schedule.current{
	display: block;
}

.schedule .schedule_list{
	display: block;
	width: 100%;
	margin: 10px 0;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	background-color: #292d32;
}

.schedule .schedule_list.cinema>ul{
	display: block;
	width: 100%;
	height: 30px;
}
.region_cinema_list{
	border-top: 1px solid lightgray;
}
.schedule .schedule_list.cinema>ul>li{
	display: inline-block;
	width: 100px;
	height: 30px;
	margin: 5px;
	padding-top: 5px;
	text-align: center;
	font-size: 11pt;
}
.schedule .schedule_list.cinema>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-decoration: none;
	color: #adb5bd;
}
.schedule .schedule_list.cinema>ul>li>a.selected{
	color: #e9ecef;
	font-weight: bold;
}


#slider {
	position: relative;
	display: block;
	overflow: hidden;
	width: 950px;
	height: 300px;
	margin: 20px auto;
}

#slider .slides {
	display: block;
	width: 6000px;
	padding: 0;
	margin: 0;
}

#slider .slides li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#slider .box_office{
	position: relative;
	width: 180px;
	height: 290px;
	margin: 10px 5px;
	border: 0.5px solid darkgray;
}
#slider .box_office img{
	display: block;
	width: 178px;
	height: 250px;
	margin-bottom: 7px;
}
.box_office>a{
	text-decoration: none;
	text-align: center;
	font-size: 11pt;
	font-family: wask-new;
	color: #adb5bd;
}
.box_office>a:hover{
	text-decoration: none;
	font-weight: bold;
}
.box_office.selected>a{
	color: #292d32;
	font-weight: bold;
}
#slider .box_office.selected{
	border: 1px solid #adb5bd;
	background: #adb5bd;
	color: #292d32;
}

.ranking {
	position: absolute;
	display: block;
	width: 35px;
	height: 30px;
	top: 10px;
	left: -2px;
	padding: 0;
	margin: 0;
	background: #2f4050; 
	color: white;
	font-size: 15pt;
	font-style: italic;
	opacity: 0.9;
}

a.control_prev, a.control_next {
	position: absolute;
	top: 35%;
	z-index: 100;
	display: block;
	padding: 3% 2%;
	width: 40px;
	height: 80px;
	background: #2a2a2a;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	opacity: 0.8;
	cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
	opacity: 1;
	-webkit-transition: all 0.2s ease;
}

a.control_prev {
	border-radius: 0 2px 2px 0;
}

a.control_next {
	right: 0;
	border-radius: 2px 0 0 2px;
}

.date_list{
	position: relative;
	display: block;
	width: 980px;
	margin: 0 auto;
}

.date_list>.selected_date>p{
	display: block;
	width: 200px;
	font-size: 17pt;
	font-weight: bold;
	margin: 15px 0 5px 30px;
	cursor: pointer;
}
.date_list>.wrap{
	display: none;
	position: absolute;
	background: white;
	z-index: 500;
}

#calendar table {
	border-collapse: collapse;
	text-align: center;
}

#calendar table thead td {
	height: 30px;
	font-weight: bold;
}

#calendar table td {
	border: solid 1px #000;
}

#calendar table td.date-cell {
	height: 50px;
}

#calendar table td.sun {
	color: red;
}

#calendar table td.sat {
	color: blue;
}

#calendar table td.not-this-month {
	background: #ddd;
	color: #999;
}

.guide{
	display: block;
	height: 200px;
	text-align: center;
	padding-top: 50px;
	font-family: wask-new;
}

.time_list{
	display: block;
	width: 980px;
	padding-top: 10px;
}
.cinema_movie{
	padding: 10px 30px;
}
.detail_list{
	padding: 0;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
}
.title{
	display: inline-block;
	width: 300px;
	height: 70px;
	padding-left: 40px;
	border-right: 1px solid #d4d4d4;
	font-size: 11pt;
	line-height: 68px;
}
.detail_list li{
	display: inline-block;
	width: 150px;
	height: 70px;
	font-size: 11pt;
	text-align: center;
	line-height: 68px;
}
.detail_list li span{
	margin-right: 10px;
}
.detail_list li a{
	text-decoration: none;
	color: #343a40;
	display: block;
	width: 100%;
	height: 100%
}
.detail_list li a:hover{
	color: #e9ecef;
	background-color: #292d32;
}

#rate15{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: #f68657;
	color: white;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: text-bottom;
}
#rate18{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: #E73A38;
	color: white;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: text-bottom;
}
#rate12{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: #0080ff;
	color: white;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: text-bottom;
}
#rateAll{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: #3ac569;
	color: white;
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	vertical-align: text-bottom;
}